
<div class="container" style="min-width:180px;padding:10px;background-color:white;width: 80% ;margin-left: auto;margin-right: auto;margin-top:5%;margin-bottom: 2%;">       
        <!-- Introduction Row -->

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    <small>It's Nice to Meet You!</small>
                </h1>
                
                <center><h4><b>Vision</b></h4></center>
                <center><i>To provide easy access to coding question solution to the student community
                    <br/> who is active on competitive coding site like spoj.
                <br/>Buying and selling of books.
                <br/>is suggestion of book to user based on their choice    .</i></center>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <center>            <div class="col-lg-12 ">
                <img class="img-circle img-responsive img-center" src="./app/res/guide.jpe" alt="" width="200px" height="200px">
                <h3>Prof. Payal Prajapati
                    <small>Guide</small>
                </h3>
                
            </div>
                <div class="col-lg-12 "> 
               <i> Prof Payal Prajapati is associated with Nirma University since June 2016. <br/>She joined as an Assistant Professor in Computer Science and Engineering Department.
              <br/> She completed her B.E. in Computer Eng. from Vishwakarma Government Eng. College <br/>under Gujarat Technological University in 2013 and
                <br/>M.Tech (Networking Technology) from Nirma University in 2015 with gold medal.
                   <br/>Her research interests are in Image Processing, Remote Sensing and Networking.
                   <br/>She has taught courses like Database Management System and Data Structure at undergraduate level.<br/> She has also worked as a Junior Research Fellow at Nirma University for ISRO-RESPOND project.</i>
                </div>
               
            </center>
              <div class="col-lg-2"><hr></div>
            
            <center>
              
            <div class="col-lg-12">
                <img class="img-circle img-responsive img-center"  src="./app/res/developer.jpg" alt="" width="200px" height="200px">
                <h3>Priyank Patel
                    <small>Web Developer</small>
                </h3>
                </div>
                <div class="col-lg-12">
                I am student of Nirma University.
            <br/>Coding is my passion ,I have experience of competitive coding on site like <br/>spoj, Hacker earth, project euler with more than 200 solved problem.<br/> I always love to learn new algorithm- analysis of algorithm and solve tricky question with optimal time.<br/> I am interested in development area-my field of interest in java language based development. <br/> I am learning Django frame work for web development and my site will be published soon. <br/> I always like to learn new things that's why I have started learning graphics using blender for 3-D animation.
                </div>
                
            </center>
            
            <div class="col-lg-2"></div>
        </div>
</div>
